<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col col-2-6" data-aos="fade-up">
                <div class="logo">
                    <a href="#">
                        <img width="220" height="21"
                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20220%2021'%3E%3C/svg%3E"
                            alt="CP logo" data-lazy-src="/images/logo.svg"><noscript><img
                                width="220" height="21" src="/images/logo.svg"
                                alt="CP logo"></noscript>
                    </a>
                </div>
            </div>
            <div class="col col-6" data-aos="fade-up" data-aos-delay="100">
                <h4>About</h4>
                <ul class="footer-nav">
                    <li>
                        <a target="" href="/about-us">About Us</a>
                    </li>
                    <li>
                        <a target="" href="/contact">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col col-6" data-aos="fade-up" data-aos-delay="200">
                <h4>Product Series</h4>
                <ul class="footer-nav">
                    <li>
                        <a target="products" href="/products#1">UPS Systems</a>
                    </li>
                    <li>
                        <a target="" href="/products#2">Isolation Transformers</a>
                    </li>
                    <li>
                        <a target="" href="/products#3">Servo Voltage Stabilizer</a>
                    </li>
                </ul>
            </div>
            <div class="col col-2-6" data-aos="fade-up" data-aos-delay="300">
                <div class="text-area">
                    <p>A retained executive search firm dedicated to identifying exceptional leaders.</p>
                    <a class="btn _btn-white" target="" href="/contact">Contact us</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-2-6" data-aos="fade-up" data-aos-delay="400">
                <h4>LOCATIONS</h4>
                <p>For more information about MS IntroPowers please contact our nearest Office.</p>
            </div>
            <div class="col col-4-6">
                <div class="row">
                    <div class="col col-4 footer_location" data-aos="fade-up" data-aos-delay="500">



                        <h4>
                            Delhi </h4>





                        <p>
                            M.S. Intropower Pvt. Ltd.<br/>
                            NE-111A, Vishnu Garden<br/>
                            New Delhi - 110018
                            </p>


                        <ul>

                            <li>
                                <h4>Phone:</h4>
                            </li>
                            <li>
                                <a href="tel:+919811389975">
                                    +91 98113 89975 </a>
                            </li>
                            <li>
                                <h4>Email:</h4>
                            </li>
                            <li>
                                <a href="mailto:msip2000@yahoo.com">
                                    msip2000@yahoo.com
                                </a>
                            </li>
                            <li>
                                <a href="mailto:msip2001@gmail.com">
                                    msip2001@gmail.com
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col col-4 footer_location" data-aos="fade-up" data-aos-delay="600">



                        <!-- <h4>
                            Philadelphia </h4>





                        <p>
                            630 Freedom Business Center<br />
                            3rd Floor<br />
                            King of Prussia, PA 19406 </p>


                        <ul>

                            <li>
                                Phone:
                                <a href="tel:6106139898">
                                    (610) 613-9898 </a>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <ul class="social-links" data-aos="fade-up" data-aos-offset="-100">
                <li><a href="#" target="_blank"><i
                            class="icon-linkedin"></i></a></li>
                <li><a href="#" target="_blank"><i class="icon-twitter"></i></a></li>
            </ul>

            <ul class="footer-links" data-aos="fade-up" data-aos-offset="-100">
                <li>© 2023 All Rights Reserved.</li>
                <li>
                    <a target="_blank" href="https://developersinfotech.com"><img width="24" height="24"
                            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%3E%3C/svg%3E"
                            alt="image description"
                            data-lazy-src="https://developersinfotech.com/wp-content/uploads/2021/09/infotechlogo6-1.png"><noscript><img
                                width="24" height="24" src="https://developersinfotech.com/wp-content/uploads/2021/09/infotechlogo6-1.png"
                                alt="image description"></noscript>Site by Developers Infotech Pvt. Ltd.</a>
                </li>
            </ul>
        </div>

    </div>
</footer>
<script id='rocket-browser-checker-js-after'>
    "use strict"; var _createClass = function () { function defineProperties(target, props) { for (var i = 0; i < props.length; i++) { var descriptor = props[i]; descriptor.enumerable = descriptor.enumerable || !1, descriptor.configurable = !0, "value" in descriptor && (descriptor.writable = !0), Object.defineProperty(target, descriptor.key, descriptor) } } return function (Constructor, protoProps, staticProps) { return protoProps && defineProperties(Constructor.prototype, protoProps), staticProps && defineProperties(Constructor, staticProps), Constructor } }(); function _classCallCheck(instance, Constructor) { if (!(instance instanceof Constructor)) throw new TypeError("Cannot call a class as a function") } var RocketBrowserCompatibilityChecker = function () { function RocketBrowserCompatibilityChecker(options) { _classCallCheck(this, RocketBrowserCompatibilityChecker), this.passiveSupported = !1, this._checkPassiveOption(this), this.options = !!this.passiveSupported && options } return _createClass(RocketBrowserCompatibilityChecker, [{ key: "_checkPassiveOption", value: function (self) { try { var options = { get passive() { return !(self.passiveSupported = !0) } }; window.addEventListener("test", null, options), window.removeEventListener("test", null, options) } catch (err) { self.passiveSupported = !1 } } }, { key: "initRequestIdleCallback", value: function () { !1 in window && (window.requestIdleCallback = function (cb) { var start = Date.now(); return setTimeout(function () { cb({ didTimeout: !1, timeRemaining: function () { return Math.max(0, 50 - (Date.now() - start)) } }) }, 1) }), !1 in window && (window.cancelIdleCallback = function (id) { return clearTimeout(id) }) } }, { key: "isDataSaverModeOn", value: function () { return "connection" in navigator && !0 === navigator.connection.saveData } }, { key: "supportsLinkPrefetch", value: function () { var elem = document.createElement("link"); return elem.relList && elem.relList.supports && elem.relList.supports("prefetch") && window.IntersectionObserver && "isIntersecting" in IntersectionObserverEntry.prototype } }, { key: "isSlowConnection", value: function () { return "connection" in navigator && "effectiveType" in navigator.connection && ("2g" === navigator.connection.effectiveType || "slow-2g" === navigator.connection.effectiveType) } }]), RocketBrowserCompatibilityChecker }();
</script>
<script id='rocket-preload-links-js-extra'>
    var RocketPreloadLinksConfig = { "excludeUris": "\/(?:.+\/)?feed(?:\/(?:.+\/?)?)?$|\/(?:.+\/)?embed\/|\/(index\\.php\/)?wp\\-json(\/.*|$)|\/wp-admin\/|\/logout\/|\/wp-login.php|\/refer\/|\/go\/|\/recommend\/|\/recommends\/", "usesTrailingSlash": "1", "imageExt": "jpg|jpeg|gif|png|tiff|bmp|webp|avif", "fileExt": "jpg|jpeg|gif|png|tiff|bmp|webp|avif|php|pdf|html|htm", "siteUrl": "https:\/\/chartwellpartners.com", "onHoverDelay": "100", "rateThrottle": "3" };
</script>
<script id='rocket-preload-links-js-after'>
    (function () {
        "use strict"; var r = "function" == typeof Symbol && "symbol" == typeof Symbol.iterator ? function (e) { return typeof e } : function (e) { return e && "function" == typeof Symbol && e.constructor === Symbol && e !== Symbol.prototype ? "symbol" : typeof e }, e = function () { function i(e, t) { for (var n = 0; n < t.length; n++) { var i = t[n]; i.enumerable = i.enumerable || !1, i.configurable = !0, "value" in i && (i.writable = !0), Object.defineProperty(e, i.key, i) } } return function (e, t, n) { return t && i(e.prototype, t), n && i(e, n), e } }(); function i(e, t) { if (!(e instanceof t)) throw new TypeError("Cannot call a class as a function") } var t = function () { function n(e, t) { i(this, n), this.browser = e, this.config = t, this.options = this.browser.options, this.prefetched = new Set, this.eventTime = null, this.threshold = 1111, this.numOnHover = 0 } return e(n, [{ key: "init", value: function () { !this.browser.supportsLinkPrefetch() || this.browser.isDataSaverModeOn() || this.browser.isSlowConnection() || (this.regex = { excludeUris: RegExp(this.config.excludeUris, "i"), images: RegExp(".(" + this.config.imageExt + ")$", "i"), fileExt: RegExp(".(" + this.config.fileExt + ")$", "i") }, this._initListeners(this)) } }, { key: "_initListeners", value: function (e) { -1 < this.config.onHoverDelay && document.addEventListener("mouseover", e.listener.bind(e), e.listenerOptions), document.addEventListener("mousedown", e.listener.bind(e), e.listenerOptions), document.addEventListener("touchstart", e.listener.bind(e), e.listenerOptions) } }, { key: "listener", value: function (e) { var t = e.target.closest("a"), n = this._prepareUrl(t); if (null !== n) switch (e.type) { case "mousedown": case "touchstart": this._addPrefetchLink(n); break; case "mouseover": this._earlyPrefetch(t, n, "mouseout") } } }, { key: "_earlyPrefetch", value: function (t, e, n) { var i = this, r = setTimeout(function () { if (r = null, 0 === i.numOnHover) setTimeout(function () { return i.numOnHover = 0 }, 1e3); else if (i.numOnHover > i.config.rateThrottle) return; i.numOnHover++, i._addPrefetchLink(e) }, this.config.onHoverDelay); t.addEventListener(n, function e() { t.removeEventListener(n, e, { passive: !0 }), null !== r && (clearTimeout(r), r = null) }, { passive: !0 }) } }, { key: "_addPrefetchLink", value: function (i) { return this.prefetched.add(i.href), new Promise(function (e, t) { var n = document.createElement("link"); n.rel = "prefetch", n.href = i.href, n.onload = e, n.onerror = t, document.head.appendChild(n) }).catch(function () { }) } }, { key: "_prepareUrl", value: function (e) { if (null === e || "object" !== (void 0 === e ? "undefined" : r(e)) || !1 in e || -1 === ["http:", "https:"].indexOf(e.protocol)) return null; var t = e.href.substring(0, this.config.siteUrl.length), n = this._getPathname(e.href, t), i = { original: e.href, protocol: e.protocol, origin: t, pathname: n, href: t + n }; return this._isLinkOk(i) ? i : null } }, { key: "_getPathname", value: function (e, t) { var n = t ? e.substring(this.config.siteUrl.length) : e; return n.startsWith("index.html") || (n = "/" + n), this._shouldAddTrailingSlash(n) ? n + "/" : n } }, { key: "_shouldAddTrailingSlash", value: function (e) { return this.config.usesTrailingSlash && !e.endsWith("index.html") && !this.regex.fileExt.test(e) } }, { key: "_isLinkOk", value: function (e) { return null !== e && "object" === (void 0 === e ? "undefined" : r(e)) && (!this.prefetched.has(e.href) && e.origin === this.config.siteUrl && -1 === e.href.indexOf("?") && -1 === e.href.indexOf("#") && !this.regex.excludeUris.test(e.href) && !this.regex.images.test(e.href)) } }], [{ key: "run", value: function () { "undefined" != typeof RocketPreloadLinksConfig && new n(new RocketBrowserCompatibilityChecker({ capture: !0, passive: !0 }), RocketPreloadLinksConfig).init() } }]), n }(); t.run();
    }());
</script>
<script data-minify="1"
    src='wp-content/cache/min/1/wp-content/themes/chartwell/includes/js/aosd8ea.js?ver=1646166911'
    id='am_includes-js-aos-js-js' defer></script>
<script src='wp-content/themes/chartwell/includes/js/gsap.min3c6b.js?ver=1634854372'
    id='am_includes-js-gsap-min-js-js' defer></script>
<script src='wp-content/themes/chartwell/includes/js/ScrollMagic.min4b87.js?ver=1634854373'
    id='am_includes-js-scrollmagic-min-js-js' defer></script>
<script src='wp-content/themes/chartwell/includes/js/debug.addIndicators.mind821.js?ver=1634854371'
    id='am_includes-js-debug-addindicators-min-js-js' defer></script>
<script src='wp-content/themes/chartwell/includes/js/animation.gsap.mind821.js?ver=1634854371'
    id='am_includes-js-animation-gsap-min-js-js' defer></script>
<script src='wp-content/themes/chartwell/includes/js/swiper-bundle.min4b87.js?ver=1634854373'
    id='am_includes-js-swiper-bundle-min-js-js' defer></script>
<script data-minify="1"
    src='wp-content/cache/min/1/wp-content/themes/chartwell/includes/js/jquery.maind8ea.js?ver=1646166911'
    id='am_includes-js-jquery-main-js-js' defer></script>
<script data-minify="1"
    src='wp-content/cache/min/1/wp-content/themes/chartwell/includes/js/generald8ea.js?ver=1646166911'
    id='am_includes-js-general-js-js' defer></script>
<script>window.lazyLoadOptions = { elements_selector: "img[data-lazy-src],.rocket-lazyload,iframe[data-lazy-src]", data_src: "lazy-src", data_srcset: "lazy-srcset", data_sizes: "lazy-sizes", class_loading: "lazyloading", class_loaded: "lazyloaded", threshold: 300, callback_loaded: function (element) { if (element.tagName === "IFRAME" && element.dataset.rocketLazyload == "fitvidscompatible") { if (element.classList.contains("lazyloaded")) { if (typeof window.jQuery != "undefined") { if (jQuery.fn.fitVids) { jQuery(element).parent().fitVids() } } } } } }; window.addEventListener('LazyLoad::Initialized', function (e) {
        var lazyLoadInstance = e.detail.instance; if (window.MutationObserver) {
            var observer = new MutationObserver(function (mutations) {
                var image_count = 0; var iframe_count = 0; var rocketlazy_count = 0; mutations.forEach(function (mutation) {
                    for (var i = 0; i < mutation.addedNodes.length; i++) {
                        if (typeof mutation.addedNodes[i].getElementsByTagName !== 'function') { continue }
                        if (typeof mutation.addedNodes[i].getElementsByClassName !== 'function') { continue }
                        images = mutation.addedNodes[i].getElementsByTagName('img'); is_image = mutation.addedNodes[i].tagName == "IMG"; iframes = mutation.addedNodes[i].getElementsByTagName('iframe'); is_iframe = mutation.addedNodes[i].tagName == "IFRAME"; rocket_lazy = mutation.addedNodes[i].getElementsByClassName('rocket-lazyload'); image_count += images.length; iframe_count += iframes.length; rocketlazy_count += rocket_lazy.length; if (is_image) { image_count += 1 }
                        if (is_iframe) { iframe_count += 1 }
                    }
                }); if (image_count > 0 || iframe_count > 0 || rocketlazy_count > 0) { lazyLoadInstance.update() }
            }); var b = document.getElementsByTagName("body")[0]; var config = { childList: !0, subtree: !0 }; observer.observe(b, config)
        }
    }, !1)</script>
<script data-no-minify="1" async
    src="wp-content/plugins/wp-rocket/assets/js/lazyload/17.5/lazyload.min.js"></script>
</body>

</html>