<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20246%2023'%3E%3C/svg%3E"
                    alt="CP logo" width="246px" height="23px"
                    data-lazy-src="/images/logo.svg"><noscript><img
                        src="/images/logo.svg" alt="CP logo" width="246px"
                        height="23px"></noscript>
            </a>
        </div>
        <div class="nav-drop">
            <nav class="nav">
                <ul class="header-menu">
                    <li style="transition-delay: .08s">
                        <a target="" href="/about-us">About Us</a>
                    <li style="transition-delay: .16s">
                        <a target="" href="#">Products</a>
                        <ul>
                            <li style="transition-delay: .24s">
                                <a target="" href="/products#1">UPS Systems</a>
                            </li>
                            <li style="transition-delay: .24s">
                                <a target="" href="/products#2">Isolation Transformers</a>
                            </li>
                            <li style="transition-delay: .24s">
                                <a target="" href="/products#3">Servo Voltage Stabilizer</a>
                            </li>
                        </ul>
                    </li>
                </ul>

                <!-- <div class="nav-search">
                    <a href="#" class="nav-search_opener"></a>

                    <div class="nav-search_content">
                        <form class="wrap" action="https://chartwellpartners.com/">
                            <input type="search" placeholder="Search..." name="s" value="">
                            <a href="#" class="nav-search_close"></a>
                        </form>
                    </div>
                </div> -->
                <a class="btn" target="" href="/contact">Contact Us</a>
            </nav>
        </div>
        <button class="nav-opener"><span></span></button>
    </div>
</header>
<!-- header Home Page -->
