<%- include('./partials/header.ejs') %>

<section class="hero-alt">
    <div class="container">



        <h1 class="animate-item">
            About Us<br />
        </h1>

        <div class="row">
            <div class="col col-2 _text-lg">

                <p class="animate-item">We, M. S. Intro Power Pvt. Ltd., registered under 1956 and having registered office at B-3/115, Raghubir Nagar, New Delhi (Branch office: NE-105C, Vishnu Garden, New Delhi) hereby confirm that we have been registered on 2006-2007-2008-2009-2010 via Tin/Registration No. 07150370978 issued by Delhi Corporation. </p>

               
            </div>
            <div class="col col-2">

                <p class="animate-item">
                    We have the pleasure informing you that we, an ISO 9001/14001 company, are the major manufacturer and supplier of True on line UPS systems based on IGBT technology ranging from 1KVA to 100KVA(both single and three phase). We also manufacture and supply Servo Stabilizer from 5KVA to 5000KVA.
                </p>
                <p class="animate-item">
                    We have many prestigious customers in public sector, Government sector, Banks, Universities, IITs, Manufacturing Industries, Hotels and Hospitals. We are an ISO 9001/14001 company and committed for delivery of high degree of quality product and excellent after sales service for continued and sustained customer relationship. We have a long and growing list of satisfied customers such as State Bank of India, Bank of Baroda, Indian Bank, Bureau of Indian Standards, Solid State Physics Laboratory, Punjab and Sind Bank, PDCSR Meerut, Indian Council ofo Agricultural Research, Indian Institute of Fashion Technology, NIC etc. in the above fields.
                </p>

            </div>
        </div>
        <div class="hero-alt_image">
            <div class="row">
                <div class="col" data-aos="fade-up">
                    <!-- content-modules-image -->

                    <img width="532" height="547"
                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20532%20547'%3E%3C/svg%3E"
                        data-lazy-srcset="https://chartwellpartners.com/wp-content/uploads/2021/06/Our_Firm_1-1064x1094.jpg 2x"
                        alt="" title="Our_Firm_1"
                        data-lazy-src="../wp-content/uploads/2021/06/Our_Firm_1-532x547.jpg"><noscript><img
                            width="532" height="547" src="../wp-content/uploads/2021/06/Our_Firm_1-532x547.jpg"
                            srcset="https://chartwellpartners.com/wp-content/uploads/2021/06/Our_Firm_1-1064x1094.jpg 2x"
                            alt="" title="Our_Firm_1"></noscript>
                </div>
                <div class="col" data-aos="fade-up" data-aos-delay="200">
                    <!-- content-modules-image -->

                    <img width="750" height="547"
                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20750%20547'%3E%3C/svg%3E"
                        data-lazy-srcset="https://chartwellpartners.com/wp-content/uploads/2021/06/Our_Firm_2-1500x1094.jpg 2x"
                        alt="" title="Our_Firm_2"
                        data-lazy-src="../wp-content/uploads/2021/06/Our_Firm_2-750x547.jpg"><noscript><img
                            width="750" height="547" src="../wp-content/uploads/2021/06/Our_Firm_2-750x547.jpg"
                            srcset="https://chartwellpartners.com/wp-content/uploads/2021/06/Our_Firm_2-1500x1094.jpg 2x"
                            alt="" title="Our_Firm_2"></noscript>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-img _bg-blue">
        <!-- content-modules-image -->

        <img width="1600" height="914"
            src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201600%20914'%3E%3C/svg%3E"
            data-lazy-srcset="https://chartwellpartners.com/wp-content/uploads/2021/05/hero-img-02@2x-3200x1828.jpg 2x"
            alt="Office" title="hero-img-02@2x"
            data-lazy-src="../wp-content/uploads/2021/05/hero-img-02%402x-1600x914.jpg"><noscript><img
                width="1600" height="914" src="../wp-content/uploads/2021/05/hero-img-02%402x-1600x914.jpg"
                srcset="https://chartwellpartners.com/wp-content/uploads/2021/05/hero-img-02@2x-3200x1828.jpg 2x"
                alt="Office" title="hero-img-02@2x"></noscript>
        <div class="bg-img-overlay"></div>
    </div>
</section>
</div>

<%- include('./partials/footer.ejs') %>